.pbmit-element-team-style-2 .pbmit-element-posts-wrapper.row .pbmit-ele{
	margin-bottom: 0;
}
.pbmit-team-style-2{
	position: relative;
}
.pbmit-team-style-2 .pbminfotech-post-item{
	padding: 33px 0 33px;
	border-bottom: 1px solid rgba(var(--pbmit-xcare-blackish-color-rgb) ,.5);
}
.pbmit-team-style-2:first-child .pbminfotech-post-item {
	border-top: 1px solid rgba(var(--pbmit-xcare-blackish-color-rgb) ,.5);
}
.pbmit-team-style-2 .pbminfotech-box-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.pbmit-team-style-2 .pbmit-team-title-wapper{
	align-items: baseline;
}
.pbmit-team-style-2 .pbmit-team-title {
	font-size: 60px;
	line-height: 54px;
	margin-bottom: 0;
	transform-style: preserve-3d;
}
.pbmit-team-style-2:hover .pbmit-team-title a{
	color: var(--pbmit-xcare-global-color);
}
.pbmit-team-style-2 .pbminfotech-box-team-position {
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 1.2px;
	font-weight: 500;
	position: relative;
	padding-left: 10px;
	margin-left: 10px;
	text-transform: uppercase;
	transition: all .4s ease-in;
}
.pbmit-team-style-2 .pbminfotech-box-team-position::before {
	content: "/";
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(5deg);
}
.pbmit-team-style-2 .pbmit-featured-wrapper img {
	position: absolute;
	top: -177px;
	left: 48%;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transform-origin: top center;
	transition: all .3s;
	transform: translateY(30%);
	border-radius: 30px;
	transition: all .3s ease-in;
}
.pbmit-team-style-2:last-child .pbmit-featured-wrapper img {
	top: -220px;
}
.pbmit-team-style-2:hover .pbmit-featured-wrapper img {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.pbmit-team-style-2 .pbmit-team-btn{
	display: inline-block;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.65px;
	text-transform: uppercase;
	padding: 12px 28px;
	color: var(--pbmit-xcare-blackish-color);
	background-color: transparent;
	border: 1px solid var(--pbmit-xcare-blackish-color);
	border-radius: 30px;
	transition: all .4s ease-in;
}
.pbmit-team-style-2:hover .pbminfotech-box-content .pbmit-team-btn{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-blackish-color);
	border-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-team-style-2 .pbmit-team-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin-left: 6px;
}
.pbmit-team-style-2 .pbmit-team-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-55px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out ;
}
.pbmit-team-style-2:hover .pbmit-team-btn .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-team-style-2 .pbmit-team-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-team-style-2:hover .pbmit-team-btn .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2 .pbmit-team-btn,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2 .pbmit-team-btn,
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2 .pbmit-team-btn,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2 .pbmit-team-btn{
	color: var(--pbmit-xcare-white-color);
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2:hover .pbmit-team-btn,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2:hover .pbmit-team-btn,
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2:hover .pbmit-team-btn,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2:hover .pbmit-team-btn{
	background-color: var(--pbmit-xcare-white-color);
	border-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2 .pbmit-team-title a,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2 .pbmit-team-title a,
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2 .pbmit-team-title a,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2 .pbmit-team-title a{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2:hover .pbmit-team-title a,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2:hover .pbmit-team-title a {
	color: var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2:hover .pbmit-team-title a,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2:hover .pbmit-team-title a{
	color: var(--pbmit-xcare-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2 .pbminfotech-box-team-position,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2 .pbminfotech-box-team-position,
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2 .pbminfotech-box-team-position,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2 .pbminfotech-box-team-position{
	color: rgba(var(--pbmit-xcare-white-color-rgb) ,.8);
}
.pbmit-elementor-bg-color-secondary .pbmit-team-style-2 .pbminfotech-post-item,
.pbmit-elementor-bg-color-blackish .pbmit-team-style-2 .pbminfotech-post-item,
.pbmit-elementor-bg-color-globalcolor .pbmit-team-style-2 .pbminfotech-post-item,
.pbmit-elementor-bg-color-gradient .pbmit-team-style-2 .pbminfotech-post-item{
	border-color: rgba(var(--pbmit-xcare-white-color-rgb) ,.5); 
}

/* Media Query */

@media (max-width: 1200px) {
	.pbmit-team-style-2 .pbmit-team-title{
		font-size: 40px;
		line-height: 50px;
	}
}
@media (min-width:767px) and (max-width:1024px){
	.pbmit-team-style-2 .pbmit-featured-wrapper img{
		width: 300px;
	}
}
@media (max-width: 767px) {
	.pbmit-team-style-2 .pbminfotech-box-content{
		display: block;
	}
	.pbmit-team-style-2 .pbmit-team-title-wapper{
		display: block !important;
		margin-bottom: 30px;
	}
	.pbmit-team-style-2 .pbminfotech-box-team-position{
		margin-left: 0;
	}
	.pbmit-team-style-2 .pbmit-featured-wrapper img{
		position: inherit;
		visibility: visible;
		opacity: 1;
		transform: inherit;
		width: 100%;
	}
	.pbmit-team-style-2 .pbmit-team-title{
		margin-bottom: 10px;
	}
	.pbmit-team-style-2 .pbmit-team-btn{
		margin-top: 20px;
	}
}
@media (max-width: 575px) {
	.pbmit-team-style-2 .pbmit-team-title{
		font-size: 24px;
		line-height: 28px;
	}
}