$allowed = array(
	'global-color',
	'secondary-color',
	'gradient-color',
	'white-color',
	'blackish-color',
	'light-bg-color',
	'blackish-bg-color',
	'header-height',
	'sticky-header-height',
	'responsive-breakpoint',
	'main-menu-typography',
	'main-menu-sticky-color',
);

color: var(--pbmit-xcare-global-color);   

color: var(--pbmit-xcare-secondary-color);   

color: var(--pbmit-xcare-gradient-color);  

color: var(--pbmit-xcare-white-color);  

color: var(--pbmit-xcare-blackish-color);  

color: var(--pbmit-xcare-light-bg-color);  

color: rgba( var(--pbmit-xcare-global-color-rgb) , 0.20 );

color: rgba( var(--pbmit-xcare-secondary-color-rgb) , 0.20 );

color: rgba( var(--pbmit-xcare-white-color-rgb) , 0.20 );

color: rgba( var(--pbmit-xcare-blackish-color-rgb) , 0.20 );

color: rgba( var(--pbmit-xcare-light-color-rgb) , 0.20 );

color: var(--pbmit-xcare-gradient-color-first);

color: var(--pbmit-xcare-gradient-color-last);

