.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
	font-size: 150px;
	line-height: 160px;
	font-weight: 800;
	text-transform: uppercase;
	color: rgba(var(--pbmit-xcare-blackish-color-rgb), 0.1);
}
.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-tween-effect{
	text-align: center;
}
.pbmit-elementor-bg-color-blackish .pbmit-tween-effect-style-1 .pbmit-element-title,
.pbmit-text-color-white .pbmit-tween-effect-style-1 .pbmit-element-title{
	color: rgba(var(--pbmit-xcare-white-color-rgb), 0.1);
}
@media(max-width: 1500px){
	.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
		font-size: 120px;
		line-height: 130px;
	}
}
@media(max-width: 1366px){
	.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
		font-size: 100px;
		line-height: 110px;
	}
}
@media(max-width: 1024px){
	.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
		font-size: 70px;
		line-height: 80px;
	}
}
@media(max-width: 767px){
	.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
		margin-bottom: 5px;
	}
}
@media(max-width: 575px){
	.pbmit-tween-effect-style-1.pbmit-tween-efect .pbmit-element-title{
		font-size: 40px;
		line-height: 50px;
	}
}