.pbmit-header-style-10 .pbmit-header-overlay{
	position: absolute;
	z-index: 9;
	width: 100%;
}
.pbmit-header-style-10 .pbmit-title-bar-wrapper .pbmit-title-bar-content{
	padding: 100px 0px 0 !important;
}
@media (min-width: 1201px){
	.pbmit-header-style-10 .pbmit-slider-area{
		margin: 0 20px;
		max-width: 100%;
		overflow: hidden;
		border-radius: 30px;
	}
	.pbmit-header-style-10 .pbmit-menuarea{
		flex: 1;
		padding-left: 32px;
	}
	.rtl .pbmit-header-style-10 .pbmit-menuarea{
		padding: 0 32px 0 0;
	}
	.pbmit-header-style-10 .pbmit-button-box-second{
		padding: 0 0 0 20px;
	}
	.rtl .pbmit-header-style-10 .pbmit-button-box-second{
		padding: 0 20px 0 0;
	}
	.pbmit-header-style-10 .pbmit-header-button2 a{
		display: inline-block;
		padding: 18px 35px;
		color: var(--pbmit-xcare-white-color);
		background-color: var(--pbmit-xcare-blackish-bg-color);
		border-radius: 30px;
		transition: all .4s ease-in;
	}
	.pbmit-header-style-10 .pbmit-search-cart-box .pbmit-header-search-btn a{
		color: var(--pbmit-xcare-blackish-color);
	}
	.pbmit-header-style-10 .pbmit-header-button2 a:hover{
		background-color: var(--pbmit-xcare-global-color);
	}
	.pbmit-header-style-10 .pbmit-header-button2 .pbmit-button-icon-wrapper{
		position: relative;
		overflow: hidden;
		display: inline-flex;
		margin-left: 6px;
	}
	.rtl .pbmit-header-style-10 .pbmit-header-button2 .pbmit-button-icon-wrapper{
		margin: 0 6px 0 0;
	}
	.rtl .pbmit-header-style-10 .pbmit-header-button2 .pbmit-button-icon-wrapper{
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.pbmit-header-style-10 .pbmit-header-button2 .pbmit-button-icon-wrapper::before{
		content: "\e8dd";
		font-family: "pbminfotech-base-icons";
		position: absolute;
		top: 0;
		right: 0;
		width: 1em;
		height: auto;
		transform: scale(0.26) translate(-60px, 50px);
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	}
	.pbmit-header-style-10 .pbmit-header-button2 a:hover .pbmit-button-icon-wrapper::before{
		transform: scale(1) translate(-2px, 0px);
	}
	.pbmit-header-style-10 .pbmit-header-button2 .pbmit-button-icon{
		display: inline-block;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	}
	.pbmit-header-style-10 .pbmit-header-button2 a:hover .pbmit-button-icon{
		transform: scale(0.26) translate(45px, -50px);
	}
	.pbmit-header-style-10 .pbmit-title-bar-wrapper{
		margin: 0 20px;
		max-width: 100%;
		overflow: hidden;
		border-radius: 30px;
	}
	.pbmit-header-style-10 .pbmit-sticky-header .pbmit-button-box-second{
		background-color: transparent;
		margin: 0;
	}
	.pbmit-header-style-10 .pbmit-sticky-header .pbmit-sticky-corner{
		display: none;
	}
	.pbmit-header-style-10 .pbmit-sticky-header .container{
		padding: 0 30px;
	}
}
@media (max-width: 1500px){
	.pbmit-header-style-10 .pbmit-menuarea{
		padding-left: 10px;
	}
	.rtl .pbmit-header-style-10 .pbmit-menuarea{
		padding: 0 10px 0 0;
	}
}
@media (max-width: 1450px){
	.pbmit-header-style-10 .pbmit-sticky-header .container,
	.pbmit-header-style-10 .pbmit-pre-header-wrapper .container,
	.pbmit-header-style-10 .pbmit-header-wrapper .container{
		max-width: none;
		width: auto;
		padding: 0 30px;
	}
}
@media (min-width: 1201px) and (max-width: 1300px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-10 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-10 .pbmit-navbar div>ul>li{
		margin: 0 20px;
	}
	body.pbmit-max-mega-menu-override .pbmit-header-style-10 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.pbmit-max-mega-menu-override #page .pbmit-header-style-10 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-10 .pbmit-navbar div>ul>li:not(:last-child)::before{
		right: -22px;
	}
	body.rtl.pbmit-max-mega-menu-override .pbmit-header-style-10 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.rtl.pbmit-max-mega-menu-override #page .pbmit-header-style-10 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body.rtl:not(.mega-menu-pbminfotech-top) .pbmit-header-style-10 .pbmit-navbar div>ul>li:not(:last-child)::before{
		left: -22px;
	}
}
@media (max-width: 1200px){
	.pbmit-header-style-10 .pbmit-button-box-second{
		display: none;
	}
}