.pbmit-header-style-7{
	position: relative;
}
.pbmit-header-style-7 .pbmit-header-button-text-2{
	display: none;
}
@media(min-width: 1201px){
	.pbmit-header-style-7 .pbmit-sticky-header .container,
	.pbmit-header-style-7 .pbmit-pre-header-wrapper .container,
	.pbmit-header-style-7 .pbmit-header-wrapper .container{
		max-width: none;
		width: auto;
		padding: 0 60px;
	}
	.pbmit-header-style-7 .pbmit-slider-area{
		max-width: 100%;
		overflow: hidden;
		border-radius: 30px;
	}
	.pbmit-header-style-7 .pbmit-menuarea{
		flex: 1;
		padding-left: 25px;
	}
	.rtl .pbmit-header-style-7 .pbmit-menuarea{
		padding: 0 25px 0 0;
	}
	.pbmit-max-mega-menu-override #page #site-navigation .pbmit-header-style-7 .mega-menu-wrap > ul > li:not(:last-child).mega-menu-item::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		background-color: var(--pbmit-xcare-global-color);
	}
	.pbmit-header-style-7 .pbmit-header-button a{
		font-weight: 600 !important;
		display: flex;
		align-items: center;
	}
	.pbmit-header-style-7 .pbmit-header-button a::before{
		content: "\e890";
		font-family: "pbminfotech-base-icons";
		display: inline-block;
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 18px;
		text-align: center;
		border-radius: 50%;
		background-color: var(--pbmit-xcare-white-color);
		color: var(--pbmit-xcare-blackish-color);
		margin-right: 8px;
	}
	.rtl .pbmit-header-style-7 .pbmit-header-button a::before{
		margin: 0 0 0 8px;
	}
	.rtl .pbmit-header-style-7 .pbmit-header-button2 .pbmit-button-icon-wrapper,
	.rtl .pbmit-header-style-7 .pbmit-header-button a::before{
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.pbmit-header-style-7 .pbmit-button-box-second{
		padding: 0 0 0 30px;
		margin-left: 0;
		position: relative;
	}
	.rtl .pbmit-header-style-7 .pbmit-button-box-second{
		padding: 0 30px 0 0;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a{
		display: inline-block;
		padding: 18px 35px;
		color: var(--pbmit-xcare-white-color);
		background-color: var(--pbmit-xcare-secondary-color);
		border-radius: 30px;
		transition: all .4s ease-in;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a:hover{
		background-color: var(--pbmit-xcare-global-color);
	}
	.pbmit-header-style-7 .pbmit-header-button2 .pbmit-button-icon-wrapper{
		position: relative;
		overflow: hidden;
		display: inline-flex;
		margin-left: 6px;
	}
	.rtl .pbmit-header-style-7 .pbmit-header-button2 .pbmit-button-icon-wrapper{
		margin: 0 6px 0 0;
	}
	.pbmit-header-style-7 .pbmit-header-button2 .pbmit-button-icon-wrapper::before{
		content: "\e8dd";
		font-family: "pbminfotech-base-icons";
		position: absolute;
		top: 0;
		right: 0;
		width: 1em;
		height: auto;
		transform: scale(0.26) translate(-52px, 50px);
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a:hover .pbmit-button-icon-wrapper::before{
		transform: scale(1) translate(-2px, 0px);
	}
	.pbmit-header-style-7 .pbmit-header-button2 .pbmit-button-icon{
		display: inline-block;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a:hover .pbmit-button-icon{
		transform: scale(0.26) translate(45px, -50px);
	}
	.pbmit-header-style-7 .pbmit-sticky-header .pbmit-button-box-second{
		background-color: transparent;
	}
	.pbmit-header-style-7 .pbmit-sticky-header .pbmit-header-button a::before{
		background-color: var(--pbmit-xcare-light-bg-color);
	}
	.pbmit-header-style-7 .pbmit-title-bar-wrapper{
		margin: 0 20px;
		max-width: 100%;
		overflow: hidden;
		border-radius: 30px;
	}
	.pbmit-header-style-7 .pbmit-header-content .pbmit-right-box{
		justify-content: end;
	}
}
@media(min-width: 1700px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap>ul>li.mega-menu-item.mega-menu-megamenu>ul.mega-sub-menu{
		margin-left: 12%;
	}
	.rtl.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap>ul>li.mega-menu-item.mega-menu-megamenu>ul.mega-sub-menu {
		margin-right: 12%;
		margin-left: auto;
	}
}
@media(min-width: 1201px) and (max-width: 1700px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 26px;
	}
}
@media(min-width: 1201px) and (max-width: 1600px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 22px;
	}
	.pbmit-header-style-7 .pbmit-button-box-second{
		padding: 0 0 0 10px;
	}
	.rtl .pbmit-header-style-7 .pbmit-button-box-second{
		padding: 0 10px 0 0;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a{
		padding: 16px 30px;
	}
	.pbmit-header-style-7 .pbmit-search-cart-box .pbmit-cart-wrapper{
		margin-left: 10px;
		padding: 0 10px;
	}
	.rtl .pbmit-header-style-7 .pbmit-search-cart-box .pbmit-cart-wrapper{
		margin: 0 10px 0 0;
	}
	.pbmit-header-style-7 .pbmit-search-cart-box .pbmit-header-search-btn{
		padding-left: 10px;
	}
	.rtl .pbmit-header-style-7 .pbmit-search-cart-box .pbmit-header-search-btn{
		padding: 0 10px 0 0;
	}
	.pbmit-header-style-7 .pbmit-sticky-header .container,
	.pbmit-header-style-7 .pbmit-pre-header-wrapper .container,
	.pbmit-header-style-7 .pbmit-header-wrapper .container{
		padding: 0 40px;
	}
	body.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		right: -26px;
	}
	body.rtl.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.rtl.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body.rtl:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		left: -26px;
	}
}
@media(min-width: 1201px) and (max-width: 1500px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 18px;
	}
	.pbmit-header-style-7 .pbmit-header-button2 a{
		padding: 15px 25px;
	}
	.pbmit-header-style-7 .pbmit-sticky-header .container,
	.pbmit-header-style-7 .pbmit-pre-header-wrapper .container,
	.pbmit-header-style-7 .pbmit-header-wrapper .container{
		padding: 0 30px;
	}
	body.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		right: -22px;
	}
	body.rtl.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.rtl.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body.rtl:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		left: -22px;
	}
}
@media(min-width: 1201px) and (max-width: 1400px){
	.pbmit-header-style-7 .pbmit-button-box{
		display: none;
	}
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 16px;
	}
	body.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		right: -18px;
	}
	body.rtl.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after,
	body.rtl.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body.rtl:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		left: -18px;
	}
}
@media(min-width: 1201px) and (max-width: 1366px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 14px;
	}
	body.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li:not(:last-child)::before,
	body:not(.mega-menu-pbminfotech-top) .pbmit-header-style-7 .pbmit-navbar div>ul>li:not(:last-child)::before{
		content: none;
	}
	body.pbmit-max-mega-menu-override .pbmit-header-style-7 #mega-menu-wrap-pbminfotech-top #mega-menu-pbminfotech-top li.mega-menu-megamenu a.mega-menu-link > span.mega-indicator::after{
		display: none !important;
	}
}
@media(min-width: 1201px) and (max-width: 1250px){
	.pbmit-max-mega-menu-override #page .pbmit-header-style-7 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	body:not(.pbmit-max-mega-menu-override) .pbmit-header-style-7 .pbmit-navbar div>ul>li{
		margin: 0 12px;
	}
}
@media(max-width: 1200px){
	.pbmit-header-style-7 .pbmit-main-header-area .container{
		max-width: none;
	}
	.pbmit-header-style-7 .pbmit-button-box-second,
	.pbmit-header-style-7 .pbmit-button-box{
		display: none;
	}
	.pbmit-header-style-7 .nav-menu-toggle{
		color: var(--pbmit-xcare-blackish-color);
	}
}