.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-year{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-title{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
	padding: 0 80px;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-desc{
	margin: 0;
	padding: 0 50px;
	line-height: 22px;
	opacity: 0.8;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper{
	display: grid;
	width: 100%;
	height: auto;
	position: relative;
	justify-items: center;
	grid-template-rows: 1fr 1fr;
	text-align: center;
	grid-gap: 160px;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-same-height.steps-content_wrap{
	justify-content: flex-end;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot{
	background-color: var(--pbmit-xcare-blackish-color);
	display: block;
	line-height: normal;
	font-size: 14px;
	margin: auto;
	width:  10px;
	height:  10px;
	transform: rotate(45deg);
	z-index: 2;
	position: relative;
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot{
	background-color: var(--pbmit-xcare-white-color);
}
.pbmit-section-number .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot{
	background-color:transparent;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot{
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	height: -moz-fit-content;
	height: fit-content;
	margin: auto !important;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after{
	content: "";
	position: absolute;
	left: -11px;
	right: 0;
	bottom: 0;
	width: 1px;
	height: 40px;
	margin: 0;
	background: rgb(var(--pbmit-xcare-blackish-color-rgb), .90);
	transform: rotate(-45deg);
}
.rtl .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after{
	left: 25px;
	right: 20px;
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after{
	background: rgb(var(--pbmit-xcare-white-color-rgb), .40);
}
.pbmit-section-number .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after{
	background: rgb(var(--pbmit-xcare-blackish-color-rgb), .20);
}
.pbmit-element-timeline-style-1 .pbmit-element-posts-wrapper .pbmit-timeline-wrapper.pbmit-slide-even .steps-dot .dot::after{
	left: 19px;
	top: 0;
	bottom: auto;
}
.rtl .pbmit-element-timeline-style-1 .pbmit-element-posts-wrapper .pbmit-timeline-wrapper.pbmit-slide-even .steps-dot .dot::after{
	left: -20px;
	right: -10px;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line{
	color: transparent;
	line-height: 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
} 
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after{
	content: "";
	width: calc(50% + 10px * 100);
	height: 1px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after{
	left: 50%;
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-blackish-color-rgb), 0.05), rgb(var(--pbmit-xcare-blackish-color-rgb), 0.05));
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before{
	right: 50%;
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-blackish-color-rgb), 0.05), rgb(var(--pbmit-xcare-blackish-color-rgb), 0.05));
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after{
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-white-color-rgb), .10), rgb(var(--pbmit-xcare-white-color-rgb), .10));
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before{
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-white-color-rgb), .10), rgb(var(--pbmit-xcare-white-color-rgb), .10));
}
.pbmit-section-number .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after{
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-blackish-color-rgb), .03), rgb(var(--pbmit-xcare-blackish-color-rgb), .03));
}
.pbmit-section-number .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before{
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-blackish-color-rgb), .03), rgb(var(--pbmit-xcare-blackish-color-rgb), .03));
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-same-height{
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.pbmit-element-timeline-style-1 .pbmit-element-posts-wrapper .pbmit-timeline-wrapper.pbmit-slide-even.swiper-slide-duplicate:nth-last-child(2) .pbmit-feature-image{
	order: 0;
}
.pbmit-element-timeline-style-1 .pbmit-element-posts-wrapper .pbmit-timeline-wrapper.pbmit-slide-even .pbmit-feature-image{
	order: 1;
	justify-content: start;
	transition: all 0.4s, opacity 0.4s 0.9s, transform 0.4s 0.9s;
}
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper:not(.pbmit-slide-even) .pbmit-feature-image{
	transition: all 0.4s, opacity 0.4s 0.9s, transform 0.4s 0.9s;
} 
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot,
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-feature-image,
.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-content_wrap{
	opacity: 1;
}
.pbmit-section-number .pbmit-element-timeline-style-1 .pbmit-timeline-title{
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-year,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-timeline-title,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-year,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-timeline-title,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-year,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-timeline-title,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-year,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-timeline-title{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-title,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-title{
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-desc,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-desc{
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot{
	background-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::before,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .steps-dot-line::after{
	background: linear-gradient(90deg, rgb(var(--pbmit-xcare-blackish-color-rgb), .10 ) ,rgb(var(--pbmit-xcare-blackish-color-rgb), .10));
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after,
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .steps-dot .dot::after{
	background: rgb(var(--pbmit-xcare-blackish-color-rgb), .90);
}
.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover,
.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover{
	background-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover::after,
.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover::after{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-element-timeline-style-1.pbminfotech-element .swiper-button-next::after,
.pbmit-element-timeline-style-1.pbminfotech-element .swiper-button-prev::after{
	font-size: 18px;
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev{
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover{
	background-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover::after,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover::after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover::after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover::after,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next:hover::after,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev:hover::after{
	color: var(--pbmit-xcare-blackish-color);
}
@media(max-width: 1800px){
	.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next{
		right: 15%;
	}
}
@media(max-width: 1600px){
	.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-desc{
		padding: 0 30px;
	}
	.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper{
		grid-gap: 140px;
	}
}
@media(max-width: 1500px){
	.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper .pbmit-timeline-desc{
		padding: 0;
	}
	.pbmit-element-timeline-style-1 .pbmit-timeline-wrapper{
		grid-gap: 120px;
	}
	.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next{
		right: 14%;
	}
}
@media(max-width: 1280px){
	.pbmit-element-timeline-style-1 .pbmit-timeline-title{
		padding: 0 15px;
	}
}
@media(max-width: 1200px){
	.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next{
		right: 13%;
	}
}
@media(max-width: 767px){
	.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-prev,
	.pbmit-element-timeline-style-1 .pbmit-element-inner .swiper-button-next{
		display: none;
	}
}