.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items{
	padding-top: 80px;
	padding-bottom: 80px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner{
	padding-bottom: 80px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner:last-child{
	padding-bottom: 0px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline-inner {
	margin: 0 -3px;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .label {
	display: block;
	font-size: 18px;
	font-weight: 600 !important;
	line-height: 18px;
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-row{
	align-items: center;
	position: relative;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2.pbmit-ourhistory-right.last{
	padding-bottom:0;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .pbmit-timeline-image,
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label{
	margin-bottom: 30px;
	display: none;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .pbmit-title{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content{
	padding: 40px;
	border: 1px solid var(--pbmit-xcare-blackish-color);
	position: relative;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p{
	margin-bottom: 0;
	font-size: 16px;
	line-height: 26px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after,
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: calc(13px - 2px);
	right: 0px;
	border-color: transparent transparent transparent var(--pbmit-xcare-light-bg-color);
	top: 50%;
	-khtml-transform: translateX(100%) translateY(-50%);
	-moz-transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
	-o-transform: translateX(100%) translateY(-50%);
	transform: translateX(100%) translateY(-50%);
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before,
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before {
	border-color: transparent  transparent transparent var(--pbmit-xcare-blackish-color);
	top: 60px;
	border-width: 13px;
	display: block;
	position: absolute;
	content: '';
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	background: transparent;
	top: 50%;
	-khtml-transform: translateX(100%) translateY(-50%);
	-moz-transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
	-o-transform: translateX(100%) translateY(-50%);
	transform: translateX(100%) translateY(-50%);
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before,
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	-khtml-transform: translateX(-10%) translateY(-50%);
	-moz-transform: translateX(-100%) translateY(-50%);
	-ms-transform: translateX(-100%) translateY(-50%);
	-o-transform: translateX(-100%) translateY(-50%);
	transform: translateX(-100%) translateY(-50%)!important;
	left: 0;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-light-bg-color) transparent transparent;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before{
	border-color: transparent var(--pbmit-xcare-blackish-color) transparent transparent;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-center span{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	background: var(--pbmit-xcare-white-color);
	padding: 10px 30px;
	color: var(--pbmit-xcare-blackish-color);
	transform: translate(-50px, -20px);
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	border-radius: 30px;
}
.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .pbmit-ourhistory-row .pbmit-ourhistory-center span{
	background-color: var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row{
	flex-direction: row-reverse;
	align-items: center;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-left,
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right{
	padding-right: 50px;
	padding-left: 15px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-left{
	padding-right: 15px;
	padding-left: 50px;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-left{
	text-align: end;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items{
	position: relative;
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: calc(50% - 5px);
	width: 2px;
	height: 100%;
	background: var(--pbmit-xcare-blackish-color)
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline{
	position: relative;
	z-index: 1;
	top: -2px;
	left: calc(50% - 15px);
	width: 22px;
	height: 22px;
	background: transparent;
	transform: rotate(45deg);
	border: 2px solid var(--pbmit-xcare-blackish-color);
}
.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline{
	bottom: -2px;
	top: auto;
}

/* For bg color */
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-white-color) transparent transparent;
} 
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
	border-color: transparent transparent transparent var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p{
	color: rgba(var(--pbmit-xcare-white-color-rgb),.8);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline, 
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline, 
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline, 
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline, 
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline{
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-white .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-center span{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .pbmit-ourhistory-center span,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .pbmit-ourhistory-center span {
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .pbmit-ourhistory-center span,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .pbmit-ourhistory-center span{
	background-color: var(--pbmit-xcare-secondary-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .label,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .label,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .label,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2:hover .label{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline,
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-last-timeline,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-first-timeline {
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items:before,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items:before,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items:before,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items:before{
	background-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, 
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, 
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, 
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before,
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, 
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before {
	border-color: transparent transparent transparent var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
	border-color: transparent transparent transparent var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
	border-color: transparent transparent transparent var(--pbmit-xcare-secondary-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
	border-color: transparent transparent transparent var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
	border-color: transparent transparent transparent var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after {
	border-color: transparent transparent transparent var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-blackish-color) transparent transparent;
}
.pbmit-elementor-bg-color-light .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-light-bg-color) transparent transparent;
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-global-color) transparent transparent;
}
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-global-color) transparent transparent;
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after{
	border-color: transparent var(--pbmit-xcare-secondary-color) transparent transparent;
}
.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before,
.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before,
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, 
.pbmit-elementor-bg-color-gradient .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before{
	border-color: transparent var(--pbmit-xcare-white-color) transparent transparent;
}
.pbmit-elementor-bg-color-globalcolor .pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p {
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after, 
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after {
	border-color: transparent transparent transparent var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after {
	border-color: transparent var(--pbmit-xcare-global-color) transparent transparent;
}
@media (max-width: 1200px){
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-left {
		padding-right: 0px;
		padding-left: 50px;
	}
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-left, .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
		padding-right: 50px;
		padding-left: 0;
	}
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-row,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner {
		margin: 0;		
	}
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-left,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
		padding-left: 0;
	}
}
@media (max-width: 767px){
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right{
		padding-right: 40px;
		background-color: var(--pbmit-xcare-blackish-color);
	}
	.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
	.pbmit-elementor-bg-color-secondary .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
	.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
	.pbmit-elementor-bg-color-blackish .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right{
		background: var(--pbmit-xcare-blackish-color)!important;
	}
	.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content,
	.pbmit-elementor-bg-color-globalcolor .pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right{
		background: var(--pbmit-xcare-global-color)!important;
	}
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-left, 
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-left {
		padding-right: 0px;
		padding-left: 0;
	}
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after,
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before, .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:before,
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:after, .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content:after{
		content: unset;
		position: unset;
	}
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-center span{
		top: 0%;
	}
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-row{
		padding-bottom: 40px;
	}
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner {
		padding-bottom: 60px;
	}
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-row .pbmit-timeline-image img {
		width: 100%;
	}
}
@media (max-width: 575px){
	.pbmit-element-timeline-style-2 .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content{
		padding: 50px 30px 40px;
	}
	.pbmit-element-timeline-style-2 .pbmit-timeline .pbmit-timeline-post-items{
		padding-bottom: 0;
	}
}