.pbmit-blog-style-2 .pbmit-featured-wrapper img,
.pbmit-blog-style-2 .pbmit-featured-wrapper::before,
.pbmit-blog-style-2 .pbmit-featured-wrapper::after,
.pbmit-blog-style-2 .pbmit-post-title::before{
	transition: all 0.6s ease-in-out;
}
.pbmit-blog-style-2 .post-item{
	border-radius: 30px;
}
.pbmit-blog-style-2 .pbmit-featured-wrapper{
	position: relative;
	display: none;
	overflow: hidden;
	border-radius: 30px;
}
.pbmit-blog-style-2 .pbmit-featured-wrapper::before{
	bottom: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	z-index: 1;
}
.pbmit-blog-style-2 .pbmit-featured-container{
	background: var(--pbmit-xcare-white-color);
	border-radius: 30px 0 0 30px;
	flex: 1 1 0%;
	max-width: 320px;
}
.rtl .pbmit-blog-style-2 .pbmit-featured-container{
	border-radius: 0 30px 30px 0;
}
.pbmit-blog-style-2 .pbmit-bg-image{
	border-radius: 30px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.pbmit-blog-style-2 .pbminfotech-box-wrap{
	flex: 1 1 0%;
	position: relative;
}
.pbmit-blog-style-2 .pbmit-featured-wrapper .box-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top:25%;
	opacity: 0;
	transition: all 0.6s ease-out 0s;
}
.rtl .pbmit-blog-style-2 .pbmit-featured-wrapper .box-content{
	left: inherit;
	right: 0;
}
.pbmit-blog-style-2 .pbmit-featured-wrapper img{
	position: relative;
	width: 100%;
	border-radius: 30px;
}
.pbmit-blog-style-2:hover .pbmit-featured-wrapper img{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.pbmit-blog-style-2 .pbmit-date-admin-wraper{
	margin-bottom: 15px;
}
.pbmit-blog-style-2 .pbmit-meta-line,
.pbmit-blog-style-2 .pbmit-meta-line a{
	font-size: 12px;
	line-height: 23px;
	text-transform: uppercase;
	color: #666666;
	letter-spacing: 0.6px;
}
.pbmit-blog-style-2 .pbmit-meta-line i{
	font-size: 20px;
	line-height: 20px;
	color: var(--pbmit-xcare-global-color);
}
.pbmit-blog-style-2 .pbmit-meta-line{
	margin-right: 12px;
}
.rtl .pbmit-blog-style-2 .pbmit-meta-line{
	margin-left: 12px;
	margin-right: 0;
}
.pbmit-blog-style-2 .pbmit-meta-line:last-child{
	margin-right: 0;
}
.rtl .pbmit-blog-style-2 .pbmit-meta-line:last-child{
	margin-left: 0;
}
.pbmit-blog-style-2 .pbminfotech-box-content{
	padding: 50px 40px;
	background: transparent;
	padding-bottom: 0;
	min-height: 350px;
	z-index: 1;
	position: relative;
}
.pbmit-blog-style-2 .pbminfotech-box-content::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--pbmit-xcare-white-color);
	clip-path: polygon( 0% 0%,92.788% 0%,92.788% 0%,93.958% 0.111%,95.067% 0.432%,96.101% 0.947%,97.046% 1.636%,97.887% 2.483%,98.608% 3.471%,99.195% 4.581%,99.632% 5.797%,99.906% 7.101%,100% 8.475%,100% 69.209%,100% 69.209%,99.712% 72.951%,98.915% 75.734%,97.709% 77.731%,96.191% 79.118%,94.463% 80.067%,92.622% 80.755%,90.769% 81.354%,89.003% 82.039%,87.422% 82.985%,86.127% 84.364%,86.127% 84.364%,85.148% 86.19%,84.436% 88.183%,83.86% 90.259%,83.285% 92.334%,82.577% 94.323%,81.602% 96.14%,80.226% 97.702%,78.316% 98.922%,75.737% 99.716%,72.356% 100%,0% 100% );
}
.pbmit-blog-style-2 .pbmit-post-title{
	font-size: 28px;
	line-height: 32px;
	position: relative;
	padding-bottom: 28px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(var(--pbmit-xcare-blackish-color-rgb) ,.1);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-transform: capitalize;
}
.pbmit-blog-style-2 .pbmit-post-title a{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-transform: capitalize;
}
.pbmit-blog-style-2 .pbmit-post-title::before{
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: rgba(var(--pbmit-xcare-blackish-color-rgb) ,.5);
}
.rtl .pbmit-blog-style-2 .pbmit-post-title::before{
	left: inherit;
	right: 0;
}
.pbmit-blog-style-2:hover .pbmit-post-title::before{
	width: 100%;
}
.pbmit-blog-style-2 .pbminfotech-box-desc{
	color: #6e778c;
}
.pbmit-blog-style-2 .pbmit-blog-btn{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	font-size: 13px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-global-color);
}
.rtl .pbmit-blog-style-2 .pbmit-blog-btn{
	left: 0;
	right: inherit;
}
.pbmit-blog-style-2:hover .pbminfotech-box-wrap .pbmit-blog-btn{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-blog-style-2 .pbmit-blog-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
}
.rtl .pbmit-blog-style-2 .pbmit-blog-btn .pbmit-button-icon-wrapper,
.rtl .pbmit-blog-style-2 .pbminfotech-box-content::before{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbmit-blog-style-2 .pbmit-blog-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 5px;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-45px, 55px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-blog-style-2:hover .pbmit-blog-btn .pbmit-button-icon-wrapper::before{
	top: 0;
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-blog-style-2 .pbmit-blog-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-blog-style-2:hover .pbmit-blog-btn .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
.pbmit-elementor-bg-color-secondary .pbmit-blog-style-2 .pbmit-blog-btn{
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-blog-style-2 .pbmit-blog-btn,
.pbmit-elementor-bg-color-globalcolor .pbmit-blog-style-2 .pbmit-blog-btn{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-blog-style-2:hover .pbmit-blog-btn,
.pbmit-elementor-bg-color-globalcolor .pbmit-blog-style-2:hover .pbmit-blog-btn,
.pbmit-elementor-bg-color-gradient .pbmit-blog-style-2:hover .pbmit-blog-btn{
	background-color: var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-white .pbmit-blog-style-2 .pbmit-featured-container,
.pbmit-elementor-bg-color-white .pbmit-blog-style-2 .pbminfotech-box-content{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-blog-style-2:hover .pbmit-blog-btn,
.pbmit-elementor-bg-color-globalcolor .pbmit-blog-style-2:hover .pbmit-blog-btn,
.pbmit-elementor-bg-color-secondary .pbmit-blog-style-2:hover .pbmit-blog-btn,
.pbmit-elementor-bg-color-blackish .pbmit-blog-style-2:hover .pbmit-blog-btn{
	color: var(--pbmit-xcare-blackish-color);
	background-color: var(--pbmit-xcare-white-color);
}
/* For Different column */
.pbmit-element-column-three .pbmit-blog-style-2 .post-item,
.pbmit-element-column-four .pbmit-blog-style-2 .post-item{
	display: block !important;
} 
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-featured-container,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-featured-container{
	max-width: 100%;
	border-radius: 30px 30px 0 0;
}
.rtl .pbmit-element-column-three .pbmit-blog-style-2 .pbmit-featured-container,
.rtl .pbmit-element-column-four .pbmit-blog-style-2 .pbmit-featured-container{
	border-radius: 0 0 30px 30px;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-featured-container .pbmit-bg-image,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-featured-container .pbmit-bg-image{
	height: 300px;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbminfotech-box-content::before,
.pbmit-element-column-four .pbmit-blog-style-2 .pbminfotech-box-content::before{
	clip-path: polygon( 0% 0%,100% 0%,100% 72.475%,100% 72.475%,99.73% 75.82%,98.982% 78.307%,97.848% 80.093%,96.423% 81.332%,94.8% 82.182%,93.072% 82.796%,91.332% 83.332%,89.673% 83.944%,88.189% 84.789%,86.973% 86.023%,86.973% 86.023%,86.053% 87.654%,85.385% 89.436%,84.844% 91.292%,84.304% 93.147%,83.639% 94.925%,82.723% 96.55%,81.431% 97.945%,79.638% 99.036%,77.216% 99.746%,74.041% 100%,6.659% 100%,6.659% 100%,5.58% 99.902%,4.555% 99.62%,3.6% 99.168%,2.727% 98.562%,1.951% 97.817%,1.286% 96.949%,0.744% 95.973%,0.34% 94.904%,0.087% 93.758%,0% 92.551% );
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-date-admin-wraper,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-date-admin-wraper{
	display: block !important;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbminfotech-box-content,
.pbmit-element-column-four .pbmit-blog-style-2 .pbminfotech-box-content{
	padding-bottom: 40px;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-post-title,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-post-title{
	padding-bottom: 18px;
	margin-bottom: 30px;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-meta-line,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-meta-line{
	display: block;
}
.pbmit-element-column-three .pbmit-blog-style-2 .pbmit-meta-line:last-child,
.pbmit-element-column-four .pbmit-blog-style-2 .pbmit-meta-line:last-child{
	margin-top: 12px;
}
@media(max-width: 1200px){
	.pbmit-blog-style-2 .post-item{
		display: block !important;
		overflow: hidden;
	} 
	.pbmit-blog-style-2 .pbmit-featured-container{
		max-width: 100%;
		overflow: hidden;
		border-radius: 0 !important;
	}
	.pbmit-blog-style-2 .pbmit-featured-container .pbmit-bg-image{
		height: 300px;
		border-radius: 0;
	}
	.pbmit-blog-style-2 .pbminfotech-box-content{
		padding: 35px 25px;
	}
	.pbmit-blog-style-2 .pbminfotech-box-content::before{
		clip-path: unset;
	}
	.pbmit-blog-style-2 .pbmit-blog-btn{
		bottom: 8px;
		right: 8px;
	}
	.rtl .pbmit-blog-style-2 .pbmit-blog-btn{
		left: 8px;
	}
}
@media(min-width: 1201px) and (max-width: 1370px){
	.pbmit-blog-style-2 .pbmit-meta-line,
	.pbmit-blog-style-2 .pbmit-meta-line a{
		font-size: 10px;
		line-height: 20px;
	}
}
@media(max-width: 575px){
	.pbmit-blog-style-2 .pbmit-post-title{
		font-size: 25px;
	}
}