.pbmit-ihbox-style-11,
.pbmit-ihbox-style-11 .pbmit-icon-type-icon,
.pbmit-ihbox-style-11 .pbmit-ihbox-contents{
	transition: all 0.4s ease-in;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-headingicon{
	border-radius: 30px;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-icon img{
	border-radius: 30px 30px 0 0;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-icon,
.pbmit-ihbox-style-11 .pbmit-ihbox-svg{
	margin-bottom: 30px;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-svg-wrapper{
	font-size: 20px;
	line-height: 20px;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-icon-type-text,
.pbmit-ihbox-style-11 .pbmit-icon-type-icon{
	font-size: 55px;
	line-height: 55px;
}
.pbmit-ihbox-style-11 .pbmit-element-title{
	font-size: 34px;
	line-height: 37px;
	margin-bottom: 26px;
}
.pbmit-ihbox-style-11 .pbmit-element-heading,
.pbmit-ihbox-style-11 .pbmit-element-subtitle,
.pbmit-ihbox-style-11 .pbmit-element-subtitle a{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 8px;
	color: var(--pbmit-xcare-secondary-color);
}
.pbmit-ihbox-style-11 .pbmit-ihbox-contents .pbmit-heading-desc{
	font-size: 18px;
	color: rgba(var(--pbmit-xcare-blackish-color-rgb), .8);
}
.pbmit-ihbox-style-11 .pbmit-ihbox-icon-type-image{
	background-color: transparent;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn{
	margin-top: 15px;
	display: inline-block;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn a{
	display: inline-block;
	padding: 18px 35px;
	border: 1px solid var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-blackish-color);
	background-color: transparent;
	border-radius: 30px;
	transition: all .4s ease-in;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn a:hover{
	background-color: var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin-left: 6px;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-52px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out ;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn:hover .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-ihbox-style-11 .pbmit-ihbox-btn:hover .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
/* == For bg color == */
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-11 .pbmit-ihbox-contents .pbmit-heading-desc,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-11 .pbmit-ihbox-contents .pbmit-heading-desc,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-11 .pbmit-ihbox-contents .pbmit-heading-desc{
	color: rgba(var(--pbmit-xcare-white-color-rgb), .8);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-11 .pbmit-ihbox-btn a,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-11 .pbmit-ihbox-btn a,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-11 .pbmit-ihbox-btn a{
	border: 1px solid var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-11 .pbmit-ihbox-btn a:hover,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-11 .pbmit-ihbox-btn a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-11 .pbmit-ihbox-btn a:hover{
	background-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-11 .pbmit-element-heading,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-11 .pbmit-element-subtitle,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-11 .pbmit-element-subtitle a{
	color: var(--pbmit-xcare-global-color);
}

@media (max-width:575px){
	.pbmit-ihbox-style-11 .pbmit-element-title {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.pbmit-ihbox-style-11 .pbmit-element-heading {
		font-size: 18px;
		line-height: 28px;
	}
}