.pbmit-ihbox-style-16,
.pbmit-ihbox-style-16 .pbmit-icon-type-icon,
.pbmit-ihbox-style-16 .pbmit-ihbox-contents{
	-webkit-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.pbmit-ihbox-style-16{
	text-align: center;
}
.pbmit-ihbox-style-16 .pbmit-ihbox-icon,
.pbmit-ihbox-style-16 .pbmit-ihbox-svg{
	display: inline-block;
	margin-bottom: 25px;
}
.pbmit-ihbox-style-16  .pbmit-ihbox-icon,
.pbmit-ihbox-style-16 .pbmit-icon-type-icon{
	font-size: 75px;
	line-height: 75px;
	position: relative;
	color: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-svg-wrapper svg{
	font-size: 45px;
	line-height: 45px;
	fill: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-16 .pbmit-icon-type-icon::after{
	content: '';
	position: absolute;
	top: 20px;
	right: -30px;
	width: 75px;
	height: 75px;
	border-radius: 100%;
	z-index: -1;
	background-color: var(--pbmit-xcare-white-color);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-icon-wrapper svg,
.pbmit-ihbox-style-16 .pbmit-ihbox-icon-type-image img{
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.pbmit-ihbox-style-16 .pbmit-element-title{
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 15px;
}
.pbmit-element-miconheading-style-16.pbmit-element-viewtype-carousel .pbmit-ele.swiper-slide{
	padding-top: 10px;
}
.pbmit-ihbox-style-16:hover{
	transform: translate(0, -10px);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-icon-type-text{
	font-size: 75px;
	line-height: 75px;
	color: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn{
	margin-top: 15px;
	display: inline-block;
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn a{
	display: inline-block;
	padding: 18px 35px;
	border: 1px solid var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-blackish-color);
	background-color: transparent;
	border-radius: 30px;
	transition: all .4s ease-in;
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn a:hover{
	background-color: var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin-left: 6px;
}
.rtl .pbmit-ihbox-style-16 .pbmit-ihbox-btn .pbmit-button-icon-wrapper{
	margin: 0 6px 0 0;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-52px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn:hover .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-ihbox-style-16 .pbmit-ihbox-btn:hover .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
/* == For bg color == */
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-element-title,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-element-title{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-white .pbmit-ihbox-style-16 .pbmit-icon-type-icon::after{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-icon-type-icon,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-icon-type-icon{
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-ihbox-svg-wrapper svg{
	fill: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-16 .pbmit-ihbox-btn a,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-ihbox-btn a,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-16 .pbmit-ihbox-btn a,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-ihbox-btn a{
	color: var(--pbmit-xcare-white-color);
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-16 .pbmit-ihbox-btn a:hover,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-16 .pbmit-ihbox-btn a:hover{
	border-color: var(--pbmit-xcare-global-color);
	background-color: var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-16 .pbmit-ihbox-btn a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-16 .pbmit-ihbox-btn a:hover{
	border-color: var(--pbmit-xcare-blackish-color);
	background-color: var(--pbmit-xcare-blackish-color);
}
@media(max-width: 1024px){
	.pbmit-ihbox-style-16 .pbmit-element-title{
		font-size: 22px;
		line-height: 26px;
	}
	.pbmit-ihbox-style-16 .pbmit-icon-type-icon,
	.pbmit-ihbox-style-16 .pbmit-icon-type-icon::after{
		width: 60px;
		height: 60px;
		font-size: 60px;
		line-height: 60px;
	}
}
@media(max-width: 767px){
	.pbmit-ihbox-style-16 .pbmit-icon-type-icon::after{
		top: 10px;
	}
}