.pbmit-ihbox-style-35 .pbmit-ihbox-box,
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-wrapper svg,
.pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper svg,
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-wrapper,
.pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper,
.pbmit-ihbox-style-35::before,
.pbmit-ihbox-style-35{
	transition: all 0.5s ease-in;
}
.pbmit-ihbox-style-35 .pbmit-element-title{
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-box{
	border: 1px solid rgba(var(--pbmit-xcare-blackish-color-rgb),.15);
	position: relative;
	overflow: hidden;
	border-radius: 50px;
	padding: 5px;
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-35 .pbmit-ihbox-box,
.pbmit-text-color-white .pbmit-ihbox-style-35 .pbmit-ihbox-box{
	border-color: rgba(var(--pbmit-xcare-white-color-rgb), .15);
}
.pbmit-ihbox-style-35:hover .pbmit-ihbox-box{
	border-color: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-35 .pbmit-ihbox-icon,
.pbmit-ihbox-style-35 .pbmit-ihbox-svg{
	margin-right: 25px;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-wrapper,
.pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper{
	width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 30px;
	background-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-global-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.pbmit-elementor-bg-color-white .pbmit-ihbox-style-35 .pbmit-ihbox-icon-wrapper,
.pbmit-elementor-bg-color-white .pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-ihbox-style-35:hover .pbmit-ihbox-icon-wrapper,
.pbmit-ihbox-style-35:hover .pbmit-ihbox-svg-wrapper{
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
}
/* Extra Option Css */
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-type-text{
	font-size: 35px;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-type-image img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-icon .pbmit-ihbox-icon-type-image{
	background-color: transparent !important;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper{
	font-size: 20px;
	line-height: 20px;
}
.pbmit-ihbox-style-35 .pbmit-element-subtitle{
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-icon-wrapper svg,
.pbmit-ihbox-style-35 .pbmit-ihbox-svg-wrapper svg{
	fill: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-35:hover .pbmit-ihbox-icon-wrapper svg,
.pbmit-ihbox-style-35:hover .pbmit-ihbox-svg-wrapper svg{
	fill: var(--pbmit-xcare-white-color);
}
.pbmit-ihbox-style-35:hover .pbmit-button-icon-wrapper .pbmit-button-icon:before{
	color: var(--pbmit-xcare-global-color);
}
.pbmit-element-miconheading-style-35 .pbmit-element-posts-wrapper.row .pbmit-ele{
	margin-bottom: 22px;
}
.pbmit-ihbox-style-35 .pbmit-ihbox-box > div.pbmit-ihbox-contents:first-child{
	padding: 10px 25px;
}
/* Bg Color */
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-35:hover .pbmit-ihbox-box,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-35:hover .pbmit-ihbox-box{
	border-color: rgba(var(--pbmit-xcare-secondary-color-rgb), .5);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-35:hover .pbmit-ihbox-icon-wrapper,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-35:hover .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-35:hover .pbmit-ihbox-icon-wrapper,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-35:hover .pbmit-ihbox-svg-wrapper{
	background-color: var(--pbmit-xcare-secondary-color);
}
/* RTL */
.rtl .pbmit-ihbox-style-35 .pbmit-ihbox-icon,
.rtl .pbmit-ihbox-style-35 .pbmit-ihbox-svg {
	margin-left: 25px;
	margin-right: inherit;
}