.pbmit-ihbox-style-4 .pbmit-element-title{
	font-size: 36px;
	margin-bottom: 0;
	padding-left: 5px;
	margin-bottom: 20px;
}
.rtl .pbmit-ihbox-style-4 .pbmit-element-title{
	padding: 0 5px 0 0;
}
.pbmit-ihbox-style-4 .pbmit-element-subtitle,
.pbmit-ihbox-style-4 .pbmit-element-heading{
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 0.6px;
	display: inline-block;
	margin-bottom: 0;
	text-transform: uppercase;
	border: 1px solid var(--pbmit-xcare-blackish-color);
	border-radius: 30px;
	padding: 0 13px 0 20px;
	margin-bottom: 12px;
	transition: all 0.6s ease-in-out;
}
.rtl .pbmit-ihbox-style-4 .pbmit-element-subtitle,
.rtl .pbmit-ihbox-style-4 .pbmit-element-heading{
	padding: 0 20px 0 13px;
}
.pbmit-ihbox-style-4:hover .pbmit-element-subtitle,
.pbmit-ihbox-style-4:hover .pbmit-element-heading{
	background-color: var(--pbmit-xcare-blackish-color);
	border: 1px solid var(--pbmit-xcare-blackish-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-ihbox-style-4 .pbmit-icon-type-icon,
.pbmit-ihbox-style-4 .pbmit-ihbox-icon-type-text{
	font-size: 40px;
	margin-bottom: 20px;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-svg{
	font-size: 15px;
	margin-bottom: 20px;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-icon-type-image{
	width: 80px;
	height: 50px;
	margin-bottom: 30px;
	object-fit: cover;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn{
	margin-top: 10px;
	display: inline-block;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn a{
	display: inline-block;
	padding: 18px 35px;
	color: var(--pbmit-xcare-blackish-color);
	background-color: var(--pbmit-xcare-white-color);
	border-radius: 30px;
	transition: all .4s ease-in;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn a:hover{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-global-color);
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin-left: 6px;
}
.rtl .pbmit-ihbox-style-4 .pbmit-ihbox-btn .pbmit-button-icon-wrapper{
	margin: 0 6px 0 0;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-55px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn:hover .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-ihbox-style-4 .pbmit-ihbox-btn:hover .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
.pbmit-text-color-white .pbmit-ihbox-style-4 .pbmit-element-subtitle,
.pbmit-text-color-white .pbmit-ihbox-style-4 .pbmit-element-heading{
	border-color: var(--pbmit-xcare-white-color);
}
.pbmit-text-color-white .pbmit-ihbox-style-4:hover .pbmit-element-subtitle,
.pbmit-text-color-white .pbmit-ihbox-style-4:hover .pbmit-element-heading{
	background-color: var(--pbmit-xcare-white-color);
	border: 1px solid var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-4 .pbmit-element-title a,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-4 .pbmit-element-subtitle a{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-4 .pbmit-element-title a:hover,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-4 .pbmit-element-title a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-4 .pbmit-element-title a:hover,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-4 .pbmit-element-subtitle a:hover,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-4 .pbmit-element-subtitle a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-4 .pbmit-element-subtitle a:hover{
	color: var(--pbmit-xcare-secondary-color);
}
.pbmit-elementor-bg-color-white .pbmit-ihbox-style-4 .pbmit-ihbox-btn a{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-white .pbmit-ihbox-style-4 .pbmit-ihbox-btn a:hover{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-4 .pbmit-ihbox-btn a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-4 .pbmit-ihbox-btn a:hover{
	background-color: var(--pbmit-xcare-blackish-color);
}
@media (max-width: 575px){
	.pbmit-ihbox-style-4 .pbmit-element-title{
		font-size: 24px;
		line-height: 32px;
	}
}