.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before,
.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap,
.pbmit-service-style-8 .pbmit-service-btn{
	transition: all 0.5s ease-in-out;
}
.pbmit-service-style-8,
.pbmit-service-style-8 .pbminfotech-box-content{
	position: relative;
}
.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap{
	position: relative;
	padding: 42px 38px 38px;
	z-index: 1;
	background-color: transparent!important;
}
.pbmit-service-style-8 .pbminfotech-post-item{
	text-align: center;
}
.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--pbmit-xcare-white-color);
	clip-path: polygon( 12.644% -0.118%,14.465% -0.118%,14.465% -0.118%,14.958% -0.118%,15.452% -0.118%,15.945% -0.118%,16.439% -0.118%,16.932% -0.118%,17.426% -0.118%,17.92% -0.118%,18.414% -0.118%,18.908% -0.118%,19.402% -0.118%,19.402% -0.118%,19.919% -0.118%,20.436% -0.118%,20.954% -0.118%,21.471% -0.118%,21.989% -0.118%,22.507% -0.118%,23.024% -0.118%,23.542% -0.118%,24.06% -0.118%,24.578% -0.118%,24.578% -0.118%,25.448% -0.118%,26.317% -0.118%,27.187% -0.118%,28.056% -0.118%,28.926% -0.118%,29.795% -0.118%,30.664% -0.118%,31.533% -0.118%,32.403% -0.118%,33.272% -0.118%,33.272% -0.118%,34.276% -0.118%,35.28% -0.118%,36.284% -0.118%,37.288% -0.118%,38.292% -0.118%,39.296% -0.118%,40.299% -0.118%,41.303% -0.118%,42.306% -0.118%,43.309% -0.118%,43.309% -0.118%,44.276% -0.118%,45.243% -0.118%,46.21% -0.118%,47.177% -0.118%,48.144% -0.118%,49.111% -0.118%,50.078% -0.118%,51.045% -0.118%,52.012% -0.118%,52.98% -0.118%,52.98% -0.118%,53.39% -0.118%,53.8% -0.118%,54.211% -0.118%,54.622% -0.118%,55.032% -0.118%,55.443% -0.118%,55.854% -0.118%,56.266% -0.118%,56.677% -0.118%,57.088% -0.118%,57.088% -0.118%,57.574% -0.118%,58.059% -0.118%,58.545% -0.118%,59.03% -0.118%,59.516% -0.118%,60.001% -0.118%,60.487% -0.118%,60.972% -0.118%,61.458% -0.118%,61.943% -0.118%,63.721% -0.118%,63.721% -0.118%,65.014% -0.113%,66.303% -0.09%,67.583% -0.034%,68.847% 0.066%,70.089% 0.224%,71.303% 0.454%,72.483% 0.768%,73.624% 1.179%,74.719% 1.701%,75.762% 2.346%,75.762% 2.346%,76.347% 2.882%,76.87% 3.446%,77.336% 4.033%,77.755% 4.64%,78.132% 5.265%,78.476% 5.903%,78.794% 6.552%,79.093% 7.209%,79.382% 7.87%,79.667% 8.531%,79.667% 8.531%,80.019% 9.334%,80.378% 10.09%,80.759% 10.803%,81.177% 11.474%,81.646% 12.103%,82.18% 12.692%,82.794% 13.243%,83.504% 13.756%,84.323% 14.234%,85.265% 14.677%,85.265% 14.677%,85.637% 14.788%,86.011% 14.895%,86.385% 14.998%,86.761% 15.097%,87.138% 15.193%,87.516% 15.285%,87.895% 15.376%,88.276% 15.464%,88.657% 15.552%,89.04% 15.638%,89.04% 15.638%,90.179% 15.9%,91.291% 16.172%,92.37% 16.464%,93.407% 16.792%,94.397% 17.166%,95.333% 17.601%,96.208% 18.109%,97.014% 18.703%,97.747% 19.396%,98.398% 20.202%,98.398% 20.202%,98.621% 20.581%,98.821% 20.968%,98.998% 21.36%,99.151% 21.758%,99.281% 22.161%,99.387% 22.568%,99.469% 22.979%,99.527% 23.392%,99.56% 23.808%,99.569% 24.226%,99.569% 24.226%,99.569% 24.298%,99.569% 24.371%,99.569% 24.445%,99.569% 24.52%,99.569% 24.596%,99.569% 24.673%,99.569% 24.75%,99.569% 24.827%,99.569% 24.904%,99.569% 24.981%,99.569% 25.802%,99.569% 26.683%,99.569% 26.683%,99.569% 26.925%,99.569% 27.168%,99.569% 27.41%,99.569% 27.652%,99.569% 27.894%,99.569% 28.137%,99.569% 28.379%,99.569% 28.621%,99.569% 28.863%,99.569% 29.105%,99.569% 31.181%,99.569% 31.181%,99.569% 31.864%,99.57% 32.548%,99.571% 33.232%,99.573% 33.916%,99.574% 34.6%,99.577% 35.284%,99.58% 35.969%,99.583% 36.653%,99.586% 37.337%,99.59% 38.022%,99.59% 38.022%,99.59% 38.2%,99.59% 38.378%,99.59% 38.556%,99.59% 38.734%,99.59% 38.911%,99.59% 39.089%,99.59% 39.268%,99.59% 39.446%,99.59% 39.625%,99.59% 39.804%,99.59% 39.804%,99.591% 40.911%,99.591% 42.018%,99.592% 43.126%,99.594% 44.233%,99.596% 45.34%,99.598% 46.448%,99.601% 47.555%,99.604% 48.663%,99.608% 49.77%,99.612% 50.878%,99.612% 50.878%,99.612% 51.135%,99.612% 51.391%,99.612% 51.647%,99.612% 51.904%,99.612% 52.16%,99.612% 52.416%,99.612% 52.673%,99.612% 52.929%,99.612% 53.186%,99.612% 53.442%,99.612% 54.086%,99.612% 54.086%,99.612% 55.117%,99.613% 56.148%,99.615% 57.18%,99.617% 58.211%,99.62% 59.243%,99.624% 60.274%,99.628% 61.306%,99.633% 62.338%,99.639% 63.37%,99.645% 64.402%,99.645% 64.402%,99.65% 65.463%,99.654% 66.523%,99.658% 67.583%,99.661% 68.643%,99.664% 69.703%,99.666% 70.763%,99.669% 71.823%,99.67% 72.883%,99.671% 73.943%,99.672% 75.002%,99.672% 75.002%,99.672% 75.597%,99.673% 76.192%,99.674% 76.786%,99.675% 77.381%,99.676% 77.976%,99.678% 78.57%,99.68% 79.165%,99.682% 79.759%,99.685% 80.354%,99.687% 80.949%,99.687% 80.949%,99.691% 81.456%,99.693% 81.963%,99.695% 82.47%,99.696% 82.977%,99.697% 83.483%,99.696% 83.99%,99.695% 84.497%,99.693% 85.004%,99.691% 85.51%,99.687% 86.017%,99.687% 86.017%,99.687% 86.275%,99.687% 86.534%,99.687% 86.792%,99.687% 87.05%,99.687% 87.308%,99.687% 87.566%,99.687% 87.825%,99.687% 88.083%,99.687% 88.341%,99.687% 88.6%,99.687% 88.6%,99.687% 88.883%,99.687% 89.165%,99.687% 89.446%,99.687% 89.727%,99.687% 90.007%,99.687% 90.287%,99.687% 90.566%,99.687% 90.846%,99.687% 91.126%,99.687% 91.407%,99.687% 91.407%,99.687% 91.487%,99.687% 91.568%,99.687% 91.649%,99.687% 91.729%,99.687% 91.811%,99.687% 91.892%,99.687% 91.974%,99.687% 92.056%,99.687% 92.139%,99.687% 92.221%,99.687% 92.221%,99.67% 92.826%,99.598% 93.425%,99.47% 94.017%,99.29% 94.598%,99.057% 95.167%,98.772% 95.721%,98.437% 96.259%,98.052% 96.778%,97.619% 97.276%,97.139% 97.751%,97.139% 97.751%,96.436% 98.216%,95.717% 98.609%,94.981% 98.934%,94.227% 99.197%,93.451% 99.403%,92.652% 99.559%,91.83% 99.67%,90.982% 99.741%,90.106% 99.777%,89.201% 99.785%,88.133% 99.785%,88.133% 99.785%,87.842% 99.785%,87.551% 99.785%,87.261% 99.785%,86.97% 99.785%,86.679% 99.785%,86.389% 99.785%,86.098% 99.785%,85.807% 99.785%,85.516% 99.785%,85.226% 99.785%,82.082% 99.785%,82.082% 99.785%,81.467% 99.785%,80.851% 99.785%,80.236% 99.785%,79.621% 99.785%,79.005% 99.785%,78.39% 99.785%,77.775% 99.785%,77.159% 99.785%,76.544% 99.785%,75.929% 99.785%,68.831% 99.785%,68.831% 99.785%,67.474% 99.785%,66.117% 99.785%,64.759% 99.785%,63.402% 99.785%,62.044% 99.785%,60.686% 99.785%,59.328% 99.785%,57.97% 99.785%,56.611% 99.785%,55.252% 99.785%,55.252% 99.785%,54.012% 99.785%,52.772% 99.785%,51.531% 99.786%,50.291% 99.786%,49.05% 99.788%,47.81% 99.789%,46.569% 99.79%,45.329% 99.792%,44.088% 99.794%,42.848% 99.796%,42.848% 99.796%,41.574% 99.799%,40.299% 99.801%,39.025% 99.803%,37.75% 99.805%,36.476% 99.806%,35.201% 99.807%,33.927% 99.808%,32.653% 99.809%,31.378% 99.809%,30.104% 99.808%,30.104% 99.808%,29.388% 99.808%,28.673% 99.808%,27.957% 99.808%,27.242% 99.808%,26.526% 99.808%,25.811% 99.808%,25.095% 99.808%,24.38% 99.808%,23.664% 99.808%,22.949% 99.808%,22.949% 99.808%,22.342% 99.808%,21.734% 99.808%,21.126% 99.808%,20.517% 99.808%,19.908% 99.808%,19.299% 99.808%,18.689% 99.808%,18.078% 99.808%,17.467% 99.808%,16.856% 99.808%,16.856% 99.808%,16.545% 99.808%,16.235% 99.808%,15.925% 99.808%,15.614% 99.808%,15.304% 99.808%,14.993% 99.808%,14.683% 99.808%,14.372% 99.808%,14.062% 99.808%,13.752% 99.808%,13.752% 99.808%,13.415% 99.808%,13.078% 99.808%,12.74% 99.808%,12.403% 99.808%,12.066% 99.808%,11.728% 99.808%,11.391% 99.808%,11.053% 99.808%,10.715% 99.808%,10.377% 99.808%,9.4% 99.808%,9.4% 99.808%,8.64% 99.788%,7.888% 99.726%,7.145% 99.623%,6.416% 99.48%,5.702% 99.297%,5.007% 99.076%,4.332% 98.816%,3.681% 98.52%,3.057% 98.186%,2.461% 97.817%,2.461% 97.817%,1.789% 97.203%,1.242% 96.571%,0.807% 95.922%,0.471% 95.255%,0.222% 94.568%,0.047% 93.862%,-0.065% 93.136%,-0.129% 92.388%,-0.155% 91.619%,-0.158% 90.827%,-0.158% 90.827%,-0.158% 90.716%,-0.158% 90.606%,-0.158% 90.495%,-0.158% 90.385%,-0.158% 90.274%,-0.158% 90.164%,-0.158% 90.053%,-0.158% 89.943%,-0.158% 89.832%,-0.158% 89.722%,-0.158% 89.722%,-0.158% 89.42%,-0.158% 89.118%,-0.158% 88.816%,-0.158% 88.514%,-0.158% 88.211%,-0.158% 87.909%,-0.158% 87.607%,-0.158% 87.305%,-0.158% 87.003%,-0.158% 86.701%,-0.158% 86.701%,-0.158% 86.374%,-0.158% 86.048%,-0.158% 85.722%,-0.158% 85.395%,-0.158% 85.069%,-0.158% 84.743%,-0.158% 84.416%,-0.158% 84.09%,-0.158% 83.763%,-0.158% 83.437%,-0.158% 83.437%,-0.158% 82.798%,-0.158% 82.159%,-0.158% 81.52%,-0.158% 80.881%,-0.158% 80.242%,-0.158% 79.603%,-0.158% 78.964%,-0.158% 78.324%,-0.158% 77.685%,-0.158% 77.045%,-0.158% 77.045%,-0.158% 76.525%,-0.158% 76.004%,-0.158% 75.484%,-0.158% 74.964%,-0.158% 74.445%,-0.158% 73.926%,-0.158% 73.407%,-0.158% 72.888%,-0.158% 72.37%,-0.158% 71.852%,-0.158% 69.596%,-0.158% 69.596%,-0.158% 68.187%,-0.158% 66.778%,-0.158% 65.369%,-0.158% 63.96%,-0.158% 62.551%,-0.158% 61.142%,-0.158% 59.733%,-0.158% 58.324%,-0.158% 56.915%,-0.158% 55.506%,-0.158% 55.506%,-0.158% 54.218%,-0.158% 52.93%,-0.159% 51.641%,-0.16% 50.353%,-0.162% 49.065%,-0.163% 47.777%,-0.165% 46.488%,-0.167% 45.2%,-0.17% 43.912%,-0.173% 42.624%,-0.173% 42.624%,-0.176% 41.298%,-0.179% 39.973%,-0.181% 38.649%,-0.182% 37.325%,-0.182% 36.001%,-0.182% 34.678%,-0.181% 33.355%,-0.179% 32.032%,-0.176% 30.71%,-0.173% 29.389%,-0.173% 29.389%,-0.173% 28.646%,-0.173% 27.903%,-0.173% 27.16%,-0.173% 26.417%,-0.173% 25.675%,-0.173% 24.932%,-0.173% 24.189%,-0.173% 23.446%,-0.173% 22.703%,-0.173% 21.961%,-0.173% 21.961%,-0.173% 21.328%,-0.173% 20.696%,-0.173% 20.064%,-0.173% 19.432%,-0.173% 18.8%,-0.173% 18.167%,-0.173% 17.535%,-0.173% 16.903%,-0.173% 16.27%,-0.173% 15.638%,-0.173% 15.638%,-0.173% 15.315%,-0.173% 14.993%,-0.173% 14.67%,-0.173% 14.348%,-0.173% 14.026%,-0.173% 13.703%,-0.173% 13.381%,-0.173% 13.058%,-0.173% 12.736%,-0.173% 12.414%,-0.173% 12.414%,-0.173% 12.118%,-0.173% 11.823%,-0.173% 11.527%,-0.173% 11.232%,-0.173% 10.936%,-0.173% 10.64%,-0.173% 10.344%,-0.173% 10.049%,-0.173% 9.753%,-0.173% 9.457%,-0.173% 9.457%,-0.173% 9.35%,-0.173% 9.244%,-0.173% 9.137%,-0.173% 9.031%,-0.173% 8.924%,-0.173% 8.818%,-0.173% 8.711%,-0.173% 8.605%,-0.173% 8.498%,-0.173% 8.392%,-0.173% 8.392%,-0.183% 7.665%,-0.153% 6.958%,-0.076% 6.269%,0.055% 5.598%,0.247% 4.943%,0.506% 4.304%,0.839% 3.681%,1.252% 3.072%,1.753% 2.477%,2.349% 1.894%,2.349% 1.894%,2.496% 1.787%,2.647% 1.683%,2.8% 1.582%,2.956% 1.483%,3.114% 1.387%,3.275% 1.294%,3.439% 1.203%,3.605% 1.115%,3.774% 1.029%,3.945% 0.947%,4.442% 0.686%,4.442% 0.686%,5.206% 0.402%,5.991% 0.189%,6.795% 0.036%,7.613% -0.065%,8.443% -0.123%,9.281% -0.15%,10.123% -0.153%,10.967% -0.142%,11.808% -0.128%,12.644% -0.118% );
}
.rtl .pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before,
.rtl .pbmit-service-style-8 .pbmit-service-btn .pbmit-button-icon-wrapper{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbmit-service-style-8 .pbmit-featured-wrapper img{
	border-radius: 50%;
	margin-bottom: 25px;
}
.pbmit-service-style-8 .pbmit-service-title{
	font-size: 22px;
	line-height: 32px;
	text-transform: capitalize;
	margin-bottom: 0;
}
.pbmit-service-style-8 .pbmit-serv-cat{
	font-size: 12px;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.pbmit-service-style-8 .pbmit-service-title,
.pbmit-service-style-8 .pbmit-serv-cat{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.pbmit-service-style-8 .pbmit-serv-cat::before{
	display: inline-block;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 5px;
	background-color: var(--pbmit-xcare-secondary-color);
}
.rtl .pbmit-service-style-8 .pbmit-serv-cat::before{
	margin: 0 0 0 5px;
}
.pbmit-service-style-8 .pbmit-service-btn{
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.rtl .pbmit-service-style-8 .pbmit-service-btn{
	left: 0;
	right: inherit;
}
.pbmit-service-style-8 .pbmit-service-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
}
.pbmit-service-style-8 .pbmit-service-description{
	color: #6e778c;
}
.pbmit-service-style-8 .pbmit-service-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-55px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-service-style-8:hover .pbmit-service-btn .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-service-style-8 .pbmit-service-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-service-style-8:hover .pbmit-service-btn .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
.pbmit-service-style-8:hover .pbminfotech-box-content .pbmit-service-btn{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-blackish-color);
}
.pbmit-elementor-bg-color-white .pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-service-style-8 .pbmit-service-btn,
.pbmit-elementor-bg-color-gradient .pbmit-service-style-8 .pbmit-service-btn{
	background-color: var(--pbmit-xcare-secondary-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-service-style-8:hover .pbmit-service-btn{
	background-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
}
@media(max-width: 1200px){
	.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before{
		clip-path: none;
	}
	.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap::before,
	.pbmit-service-style-8 .pbminfotech-post-item .pbmit-box-content-wrap{
		border-radius: 30px;
	}
	.pbmit-service-style-8 .pbmit-service-btn{
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		background-color: var(--pbmit-xcare-global-color);
		color: var(--pbmit-xcare-white-color);
	}
	.rtl .pbmit-service-style-8 .pbmit-service-btn{
		left: 10px;
	}
	.pbmit-service-style-8 .pbmit-service-btn i{
		font-size: 10px;
	}
}