.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap,
.pbmit-service-style-6 .pbmit-service-btn{
	transition: all 0.5s ease-in-out;
}
.pbmit-service-style-6,
.pbmit-service-style-6 .pbminfotech-box-content{
	position: relative;
}
.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap{
	padding: 20px 20px 45px;
	background-color: transparent;
	position: relative;
	z-index: 1;
}
.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--pbmit-xcare-white-color);
	clip-path: polygon( 5.592% 0.486%,5.592% 0.486%,5.013% 0.617%,4.455% 0.784%,3.921% 0.988%,3.415% 1.225%,2.939% 1.495%,2.495% 1.795%,2.086% 2.124%,1.715% 2.48%,1.384% 2.863%,1.096% 3.269%,0.548% 4.107%,0.548% 96.637%,1.096% 97.476%,1.096% 97.476%,1.313% 97.786%,1.556% 98.084%,1.822% 98.368%,2.112% 98.638%,2.423% 98.892%,2.756% 99.13%,3.109% 99.352%,3.48% 99.555%,3.87% 99.74%,4.276% 99.906%,5.373% 100.325%,40.789% 100.375%,40.789% 100.375%,47.309% 100.383%,53.25% 100.386%,58.596% 100.384%,63.329% 100.378%,67.431% 100.367%,70.886% 100.353%,73.675% 100.334%,75.78% 100.312%,77.186% 100.287%,77.873% 100.258%,77.873% 100.258%,78.776% 100.146%,79.619% 100%,80.403% 99.819%,81.129% 99.604%,81.798% 99.353%,82.412% 99.066%,82.972% 98.742%,83.48% 98.38%,83.936% 97.981%,84.342% 97.543%,84.342% 97.543%,84.434% 97.414%,84.548% 97.235%,84.681% 97.01%,84.831% 96.747%,84.992% 96.451%,85.162% 96.128%,85.336% 95.785%,85.513% 95.427%,85.687% 95.061%,85.855% 94.693%,85.855% 94.693%,86.388% 93.549%,86.871% 92.612%,87.349% 91.851%,87.863% 91.235%,88.459% 90.733%,89.181% 90.314%,90.07% 89.948%,91.172% 89.605%,92.531% 89.252%,94.189% 88.859%,94.189% 88.859%,95.184% 88.611%,96.061% 88.356%,96.829% 88.085%,97.498% 87.794%,98.081% 87.474%,98.588% 87.12%,99.028% 86.725%,99.415% 86.281%,99.757% 85.782%,100.066% 85.222%,100.548% 84.233%,100.548% 4.107%,100% 3.269%,100% 3.269%,99.783% 2.958%,99.541% 2.66%,99.274% 2.376%,98.985% 2.107%,98.673% 1.852%,98.341% 1.614%,97.988% 1.393%,97.616% 1.189%,97.227% 1.004%,96.82% 0.838%,95.724% 0.419%,50.987% 0.386%,50.987% 0.386%,43.747% 0.387%,36.853% 0.39%,30.401% 0.395%,24.486% 0.402%,19.202% 0.411%,14.646% 0.422%,10.911% 0.435%,8.094% 0.45%,6.289% 0.467%,5.592% 0.486% );
}
.rtl .pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap::before,
.rtl .pbmit-service-style-6 .pbmit-service-btn .pbmit-button-icon-wrapper{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbmit-service-style-6 .pbmit-featured-wrapper img{
	border-radius: 30px;
	margin-bottom: 25px;
	width: 100%;
}
.pbmit-service-style-6 .pbmit-box-content-inner{
	padding: 0 10px;
}
.pbmit-service-style-6 .pbmit-service-title{
	font-size: 26px;
	line-height: 32px;
	padding-right: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-transform: capitalize;
}
.rtl .pbmit-service-style-6 .pbmit-service-title{
	padding: 0 0 0 50px;
}
.pbmit-service-style-6 .pbmit-serv-cat{
	font-size: 12px;
	line-height: 32px;
	text-transform: uppercase;
	padding-left: 15px;
	position: relative;
	letter-spacing: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.rtl .pbmit-service-style-6 .pbmit-serv-cat{
	padding: 0 15px 0 0;
}
.pbmit-service-style-6 .pbmit-serv-cat::before{
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	background-color: var(--pbmit-xcare-global-color);
	border-radius: 50%;
	left: 0;
	top: 50%;
	transform: translate(0 , -50%);
}
.rtl .pbmit-service-style-6 .pbmit-serv-cat::before{
	left: inherit;
	right: 0;
}
.pbmit-service-style-6 .pbmit-service-description{
	color: #6e778c;
	border-top: 1px solid #e7e8e7;
	padding: 20px 65px 0 0;
	margin-top: 60px;
}
.rtl .pbmit-service-style-6 .pbmit-service-description{
	padding: 20px 0 0 65px;
}
.pbmit-service-style-6 .pbmit-service-btn{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rtl .pbmit-service-style-6 .pbmit-service-btn{
	left: 0;
	right: inherit;
}
.pbmit-service-style-6 .pbmit-service-btn .pbmit-button-icon-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-flex;
}
.pbmit-service-style-6 .pbmit-service-btn .pbmit-button-icon-wrapper::before{
	content: "\e8dd";
	font-family: "pbminfotech-base-icons";
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: auto;
	transform: scale(0.26) translate(-55px, 50px);
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-service-style-6:hover .pbmit-service-btn .pbmit-button-icon-wrapper::before{
	transform: scale(1) translate(-2px, 0px);
}
.pbmit-service-style-6 .pbmit-service-btn .pbmit-button-icon{
	display: inline-block;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.pbmit-service-style-6:hover .pbmit-service-btn .pbmit-button-icon{
	transform: scale(0.26) translate(45px, -50px);
}
.pbmit-service-style-6:hover .pbminfotech-box-content .pbmit-service-btn{
	color: var(--pbmit-xcare-white-color);
	background-color: var(--pbmit-xcare-global-color);
}
.pbmit-elementor-bg-color-white .pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-white .pbmit-service-style-6:hover .pbminfotech-post-item .pbmit-box-content-wrap{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-white .pbmit-service-style-6 .pbmit-service-btn{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-service-style-6:hover .pbmit-service-btn{
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
}
.pbmit-element-service-style-6.pbmit-element-viewtype-carousel .pbmit-ele-header-area.container{
	margin-left: 0;
}
.rtl .pbmit-element-service-style-6.pbmit-element-viewtype-carousel .pbmit-ele-header-area.container{
	margin-left: auto;
	margin-right: 0;
}
/* pbmit-service-style-6-hover */
.pbmit-service-style-6-hover .pbmit-service-style-6 .pbmit-box-content-wrap::before{
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pbmit-service-style-6-hover .pbmit-service-style-6 .pbmit-service-description,
.pbmit-service-style-6-hover .pbmit-service-style-6{
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbmit-box-content-wrap::before{
	background-color: var(--pbmit-xcare-secondary-color);
}
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbmit-service-description,
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbmit-service-title a,
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbmit-serv-cat a,
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active{
	color: var(--pbmit-xcare-white-color);
}
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbmit-service-description{
	border-color: rgba(var(--pbmit-xcare-white-color-rgb), 0.1);
}
.pbmit-service-style-6-hover .pbmit-service-style-6.swiper-slide-active .pbminfotech-box-content .pbmit-service-btn{
	color: var(--pbmit-xcare-blackish-color);
}
@media(max-width: 1200px){
	.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap{
		border-radius: 30px;
	}
	.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap::before{
		clip-path: none;
		border-radius: 30px;
	}
	.pbmit-service-style-6 .pbmit-service-btn{
		bottom: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		background-color: var(--pbmit-xcare-global-color);
		color: var(--pbmit-xcare-white-color);
	}
	.rtl .pbmit-service-style-6 .pbmit-service-btn{
		left: 10px;
	}
	.pbmit-service-style-6 .pbmit-service-btn i{
		font-size: 10px;
	}
	.pbmit-service-style-6 .pbmit-service-title{
		padding-right: 0;
	}
	.rtl .pbmit-service-style-6 .pbmit-service-title{
		padding-left: 0;
	}
}
@media (min-width: 1024px) and (max-width: 1200px){
	.pbmit-service-style-6 .pbminfotech-post-item .pbmit-box-content-wrap{
		padding: 45px 30px;
	}
	.pbmit-service-style-6 .pbmit-serv-cat{
		font-size: 10px;
		line-height: 26px;
	}
	.pbmit-service-style-6 .pbmit-service-title{
		font-size: 22px;
		line-height: 28px;
	}
}
/* For Related service in four column */
.pbmit-service-style-6.col-lg-3 .pbmit-serv-cat{
	font-size: 10px;
	line-height: 28px;
}
.pbmit-service-style-6.col-lg-3 .pbmit-serv-cat::before{
	width: 6px;
	height: 6px;
}
.pbmit-service-style-6.col-lg-3 .pbmit-service-title{
	font-size: 22px;
	line-height: 28px;
}
.pbmit-service-style-6.col-lg-3 .pbminfotech-post-item .pbmit-box-content-wrap{
	padding: 55px 30px 45px;
}