.pbminfotech-ele-fid-style-4 .pbmit-fld-contents{
	text-align: center;
}
.pbminfotech-ele-fid-style-4 .pbmit-circle{
	position: relative;
	display: inline-block;
}
.rtl .pbminfotech-ele-fid-style-4 .pbmit-circle{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbminfotech-ele-fid-style-4 .pbmit-circle canvas{
	transform: rotate(-60deg);
}
.pbminfotech-ele-fid-style-4 .pbmit-fid-inner{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--pbmit-xcare-white-color);
	color: var(--pbmit-xcare-blackish-color);
	border-radius: 50%;
	height: 110px;
	width: 110px;
	top: 48%;
	left: 50%;
	font-size: 30px;
	line-height: 26px;
	font-weight: 600 !important;
	transform: translate(-50%, -50%);
}
.rtl .pbminfotech-ele-fid-style-4 .pbmit-circle .pbmit-fid-inner{
	transform: translate(-50%, -50%) scaleX(-1);
}
.pbminfotech-ele-fid-style-4 .pbmit-fid-inner sup{
	top: -12px;
	font-size: 20px;
}
.pbminfotech-ele-fid-style-4 .pbmit-fid-sub{
	margin-top: 8px;
}
.pbminfotech-ele-fid-style-4 .pbmit-fid-sub .pbmit-fid-title{
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 0;
}
.pbmit-elementor-bg-color-white .pbminfotech-ele-fid-style-4 .pbmit-fid-inner{
	background-color: var(--pbmit-xcare-light-bg-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-fid-style-4 .pbmit-fid-sub .pbmit-fid-title,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-fid-style-4 .pbmit-fid-sub .pbmit-fid-title,
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-fid-style-4 .pbmit-fid-sub .pbmit-fid-title{
	color: var(--pbmit-xcare-white-color);
}