.pbminfotech-ele-fid-style-1 .pbmit-circle{
	position: relative;
	display: inline-block;
}
.rtl .pbminfotech-ele-fid-style-1 .pbmit-circle{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.pbminfotech-ele-fid-style-1 .pbmit-circle canvas{
	transform: rotate(-60deg);
}
.pbminfotech-ele-fid-style-1 .pbmit-fid-inner{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--pbmit-xcare-global-color);
	color: var(--pbmit-xcare-white-color);
	border-radius: 50%;
	height: 92px;
	width: 92px;
	top: 48%;
	left: 50%;
	font-size: 22px;
	line-height: 26px;
	font-weight: 600 !important;
	transform: translate(-50%, -50%);
}
.rtl .pbminfotech-ele-fid-style-1 .pbmit-circle .pbmit-fid-inner{
	transform: translate(-50%, -50%) scaleX(-1);
}
.pbminfotech-ele-fid-style-1 .pbmit-fid-inner sup{
	top: -5px;
}
.pbminfotech-ele-fid-style-1 .pbmit-fid-sub{
	margin-left: 28px;
}
.rtl .pbminfotech-ele-fid-style-1 .pbmit-fid-sub{
	margin: 0 28px 0 0;
}
.pbminfotech-ele-fid-style-1 .pbmit-fid-sub .pbmit-fid-title{
	font-size: 22px;
	line-height: 30px;
	border-bottom: 1px solid rgba(var(--pbmit-xcare-blackish-color-rgb), .1);
	padding-bottom: 16px;
	margin-bottom: 18px;
}
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-fid-style-1 .pbmit-fid-sub .pbmit-fid-title,
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-fid-style-1 .pbmit-fid-sub .pbmit-fid-title,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-fid-style-1 .pbmit-fid-sub .pbmit-fid-title{
	border-bottom: 1px solid rgba(var(--pbmit-xcare-white-color-rgb), .2);
}
@media(max-width: 575px){
	.pbminfotech-ele-fid-style-1 .pbmit-circle-outer,
	.pbminfotech-ele-fid-style-1 .pbmit-fid-sub{
		text-align: center;
	}
}
@media(max-width: 450px){
	.pbminfotech-ele-fid-style-1 .pbmit-fld-contents{
		display: block !important;
	}
	.pbminfotech-ele-fid-style-1 .pbmit-fid-sub{
		margin: 15px 0 0 !important;
	}
}